<%- include('header') %>
<%- include('navbar') %>
<body>
  <div class="jumbotron" id="jmbtrn" style="margin-bottom: 0px; display: flex; justify-content: center; align-items: center; flex-direction: column;" style="margin-bottom:0px">
  <h1 class="display-4">Your goToUrl code is <%= data.short %>.</p>
  <br>
  <p class="display-4">Your url is : </p>
  <p class="display-4">https://gotourl.herokuapp.com/<%= data.short %></p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

<%- include('footer') %>